/** ESTILOS DE LA PÁGINA PARA AÑADIR EJERCICIOS **/
/* Estilo para la zona principal */
.add-work {
  width: 40%;
  margin: 50px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

/* Estilo para los subtitulos */
.add-work h2 {
  margin: 0 auto 25px auto;
  text-align: center;
}

/* Estilo para el campo nivel */
#level {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

/* Estilo para el campo id */
#id {
  width: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

/* Estilo para los campos de selección */
select {
  width: 187px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS PEQUEÑA DE 768PX**/
@media (max-width: 768px) {

  /* Estilo para la zona principal */
  .add-work {
    width: 80%;
    min-width: none;
  }

  /* Estilo para los campos normales de los div dentro de los apartados del formulario */
  fieldset div input:not(.little-input) {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }

  /* Estilo para los campos de selección */
  select {
    width: 162px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }
}