.add-work {
  width: 40%;
  min-width: 500px;
  margin: 50px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  
}

.add-work h2 {
  margin: 0 auto 25px auto;
  text-align: center;
}
.add-form fieldset div {
  display: grid;
  grid-template-columns: 1fr 1fr; /* establece dos columnas con el mismo ancho */
  grid-gap: 10px; /* añade un espacio entre cada elemento */

  
}

.add-form fieldset div label {
  width: 100%;
  font-weight: bold;
  text-align: right;
  
}

.add-form fieldset div input:not(.little-input) {
  width: 175px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  
}
.add-form fieldset{text-align: center}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%
}

.add-work button {
  background-color: #DBCD30;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.add-work button:hover {
  background-color: #8f8303;
  color: white;
}
.little-input{

  width: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.input-container{
  width: 100%;
  text-align: left;
}
#level{
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}
#id{
  width: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}
select{
  width: 187px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}
.add-form fieldset div span div{
  display: flex;
  color:red;
  font-size: 12px;
}
.modal {
  display: none; /* La ventana modal está oculta por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-contenido {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 30%;
}

#cerrarModal {
  display: flex;
  margin-top: 10px;
}
/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS PEQUEÑA DE 768PX**/
@media (max-width: 768px) {
  
}
/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS GRANDE DE 768PX**/
@media (min-width: 769px) {

}
