/** ESTILOS DE LA PÁGINA PARA CREAR ALUMNO **/
/* Estilo para la zona principal */
.create-student {
  width: 40%;
  margin: 50px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

/* Estilo para los subtítulos */
.create-student h2 {
  margin: 0 auto 25px auto;
  text-align: center;
}

/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS PEQUEÑA DE 768PX**/
@media (max-width: 768px) {

  /* Estilo para la zona principal */
  .create-student {
    width: 80%;
    min-width: none;
  }

  /* Estilo para los campos normales de los div dentro de los apartados del formulario */
  fieldset div input:not(.little-input) {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }
}