main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.delete-tutor {
  width: 400px;
  margin: 50px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.delete-tutor h2 {
  margin-top: 0;
}

.delete-tutor form {
  display: flex;
  flex-direction: column;
}

.delete-tutor label {
  font-weight: bold;
  margin-top: 10px;
}

.delete-tutor input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.delete-tutor button {
  background-color: #DBCD30;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.delete-tutor button:hover {
  background-color: #8f8303;
  color: white;
}

.delete-tutor p {
  margin-top: 20px;
}
.input-container{
  width: 100%;
  text-align: center;
}

.modal {
  display: none; /* La ventana modal está oculta por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-contenido {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 30%;
}
#cerrarModal {
  display: flex;
  margin-top: 10px;
}
/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS PEQUEÑA DE 768PX**/
@media (max-width: 768px) {
  
}
/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS GRANDE DE 768PX**/
@media (min-width: 769px) {

}
