/** ESTILOS DE LA PÁGINA PARA EDITAR EJERCICIOS **/
/* Estilo para la zona principal */
.edit-work {
  width: 40%;
  margin: 50px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

/* Estilo para los subtítulos */
.edit-work h2 {
  margin: 0 auto 25px auto;
  text-align: center;
}

/* Estilo para el contenedor de las variables */
#variables-container {
  display: flex;
  flex-direction: column;
}

/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS PEQUEÑA DE 768PX**/
@media (max-width: 768px) {

  /* Estilo para la zona principal */
  .edit-work {
    width: 80%;
  }
}