/** ESTILOS DE LA PÁGINA PARA EL JUEGO **/
/* Estilo para la zona principal */
.game {
  text-align: center;
  margin: 50px auto;
}

/* Estilo para los select */
.game select {
  margin-bottom: 1em;
}

/* Estilo para la zona de juego */
.game-zone {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
}

/* Estilo para los títulos de la zona de juego */
.game-zone h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 10px;
}

/* Estilo para span de los títulos de la zona de juego */
.game-zone h1 span {
  font-size: 70%;
  color: #5E30DB;
}

/* Estilo para los subtítulos de la zona de juego */
.game-zone h2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* Estilo para los párrafos */
.game-zone p {
  margin-top: 0px;
}

/* Estilo para la zona de niveles */
.game-level {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Estilo para los inputs de la zona de juego */
.game-zone input {
  width: 175px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

/* Estilo para los formularios de la zona de juego */
.game-zone form {
  margin: 10px auto auto auto;
}

/* Estilo para las figuras de la zona de juego */
.figura {
  height: 200px;
}

/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS PEQUEÑA DE 768PX**/
@media (max-width: 768px) {

  /* Estilo para la zona de juego */
  .game-zone {
    width: 90%;
  }
}