
h1 {
	margin: 0 0 20px 0;
	font-size: 28px;
	text-align: center;
}

.help {
	background-color: #FFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	padding: 1em;
	max-width: 80%;
    margin: 50px auto;
}

.help img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1em;
}

/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS PEQUEÑA DE 768PX**/
@media (max-width: 768px) {
  
}
/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS GRANDE DE 768PX**/
@media (min-width: 769px) {

}
