/** ESTILOS DE LA PÁGINA DE LOGIN **/
/* Estilo para la zona principal */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

/* Estilo para el contenido principal */
.login {
  width: 400px;
  margin: 50px auto 50px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

/* Estilo para los subtítulos */
.login h2 {
  margin-top: 0;
}

/* Estilo para los formularios */
.login form {
  display: flex;
  flex-direction: column;
}

/* Estilo para las etiquetas */
.login label {
  font-weight: bold;
  margin-top: 10px;
}

/* Estilo para los inputs */
.login input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

/* Estilo para los párrafos */
.login p {
  margin-top: 20px;
}

/* Estilo para los errores */
#unauthorized {
  color: red;
  font-size: 80%;
  margin-top: 5px;
  text-align: center;
}

/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS PEQUEÑA DE 768PX**/
@media (max-width: 768px) {

  /* Estilo para el contenido principal */
  .login {
    width: 80%;
  }
}