/** ESTILOS DE LA PÁGINA PARA LA PRIVACIDAD **/
/* Estilo para la zona principal */
main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
}

/* Estilo para el contenido principal */
.privacy-info {
	background-color: #FFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 1em;
	max-width: 80%;
	margin: 50px auto;
}

/* Estilo para los títulos */
h1 {
	margin: 0 0 20px 0;
	font-size: 28px;
	text-align: center;
}

/* Estilo de la zona del mensaje */
#message section {
	margin-bottom: 30px;
}

/* Estilo de los subtítulos del mensaje */
#message section h2 {
	margin-bottom: 10px;
}