/** ESTILOS DE LA PÁGINA PARA LAS ESTADÍSTICAS **/
/* Estilo para la zona principal */
main {
  min-height: 50vh;
}

/* Estilo para las estadísticas */
.statistics {
  margin: 50px auto;
  text-align: center;
}

/* Estilo para los divs de las estadísticas */
.statistics div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para los subtítulos */
.statistics h2 {
  margin-top: 0;
  padding: 0px;
}

/* Estilo para las tablas */
.statistics-table {
  margin-top: 1em;
  border: #6938EF 1px solid;
}

/* Estilo para los títulos de las tablas */
.statistics-table caption {
  border: #6938EF 1px solid;
  font-weight: bold;
}

/* Estilo para los elementos interiores de las tablas */
.statistics-table td, th, caption {
  border: #6938EF 1px solid;
}

/* Estilo para las imágenes interiores de las tablas */
td img {
  vertical-align: middle;
  max-height: 20px;
}

/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS PEQUEÑA DE 768PX**/
@media (max-width: 768px) {

  /* Estilo para los divs de las estadísticas */
  .statistics div {
    flex-direction: column;
  }
}