.select-work {
  width: 400px;
  margin: 50px auto 50px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.select-work h2 {
  margin-top: 0;
}

.select-work form {
  display: flex;
  flex-direction: column;
}

.select-work label {
  font-weight: bold;
  margin-top: 10px;
}

.select-work input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.select-work button {
  background-color: #DBCD30;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.select-work button:hover {
  background-color: #8f8303;
  color: white;
}

.select-work p {
  margin-top: 20px;
}
/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS PEQUEÑA DE 768PX**/
@media (max-width: 768px) {
  
}
/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS GRANDE DE 768PX**/
@media (min-width: 769px) {

}
