/** ESTILOS DE LA PÁGINA PARA ELEGIR ALUMNO **/
/* Estilo para la zona principal */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

/* Estilo para el contenido principal */
.student-report {
  width: 400px;
  margin: 50px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

/* Estilo para los subtítulos */
.student-report h2 {
  margin-top: 0;
}

/* Estilo para los formularios */
.student-report form {
  display: flex;
  flex-direction: column;
}

/* Estilo para las etiquetas */
.student-report label {
  font-weight: bold;
  margin-top: 10px;
}

/* Estilo para los párrafos */
.student-report p {
  margin-top: 20px;
}

/* Estilo para el contenedor de los inputs */
.input-container {
  width: 100%;
  text-align: center;
}

/* Estilo para los inputs */
.student-report input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}