/** ESTILOS GENERALES **/
/* Fuente Yusei Magic importada desde la API de Google */
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

/* Estilo base para todo tipo de elementos */
* {
  margin: auto;
  font-family: "Yusei Magic";
}

/* Estilo para los span */
span {
  color: black;
}

/* Estilo para el cuerpo de las páginas */
body {
  /* Definimos el tamaño */
  width: 100%;
  height: 100%;
  color: #5E30DB;
  background-color: RGB(240, 240, 240);
}

/** ESTILOS GENERALES DE LA CABECERA**/
/* Estilo para la cabecera de las páginas */
header {
  display: grid;
  grid-template-columns: 5% 85% 10%;
  background-color: #8052FF;
  color: white;
}

/* Estilo para los enlaces con imágenes */
header a img {
  justify-self: start;
  padding: 5px;
  width: auto;
  max-height: 90px;
}

/* Estilo para el apartado de acceso en el header */
.access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

/* Estilo para las imágenes del apartado de acceso en el header */
.access img {
  max-height: 50px;
  width: auto;
}

/* Estilo para los párrafos del apartado de acceso en el header */
.access p {
  font-size: 90%;
}

/** ESTILOS DEL MENÚ**/
/* Estilo para el menú de las páginas */
nav {
  background-color: #6938EF;
  line-height: 2rem;
}

/* Estilo para la lista del menú */
nav ul {
  display: flex;
  padding: 0;
  list-style: none;
}

/* Estilo para cada elemento de la lista del menú */
nav ul li {
  width: 100%;
}

/* Estilo para cada enlace dentro de una lista */
nav ul li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
}

/* Estilo para cada enlace de segundo nivel dentro de una lista */
nav ul li ul {
  display: none;
}

/* Estilo para cada enlace de segundo nivel dentro de una lista cuando se pasa por encima del primer nivel */
nav ul li:hover ul {
  position: absolute;
  display: block;
  background-color: #6938EF;
  line-height: 2rem;
  width: 33.33%;
}

/* Estilo para cada enlace dentro de una lista cuando el ratón pasa por encima */
nav ul li a:hover {
  background-color: #8052FF;
}

/* Estilo para cada imagen dentro de una lista */
nav ul li img {
  display: flex;
  justify-content: center;
  padding: 3px 0px 3px 0px;
}

/* Estilo para cada imagen dentro de una lista cuando el ratón pasa por encima */
nav ul li img:hover {
  background-color: RGB(210, 0, 0);
}

/** ESTILOS GENERALES DEL CONTENIDO**/
/* Estilo para los distintos niveles de las etapas educativas */
.level {
  display: grid;
  margin-top: 4em;
  text-align: center;
}

/* Estilo para el título de las ramas */
.level h2 {
  grid-column: 2;
}

/* Estilo para los apartados de las ramas */
.level div {
  display: grid;
  grid-column: 1/4;
  grid-row: 2;
  row-gap: 0.8em;
  padding-bottom: 4em;
}

/* Estilo para los nombres de las etapas educativas */
.name {
  padding-left: 5%;
  font-size: 200%;
}

/* Estilo para las secciones principales de los apartados de las ramas */
.branch {
  display: grid;
  grid-column: 1/4;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

/* Estilo para los enlaces de las secciones principales de los apartados de las ramas */
.branch a {
  text-decoration: none;
}

/* Estilo para los artículos de las ramas */
.branch article {
  max-width: 300px;
  margin: 2em 4em;
  padding: 10px 10px;
  position: relative;
  background-color: white;
  border-radius: 20%;
  height: 480px;
  color: #666;
  box-shadow: -1px 3px 9px #282c38;
}

/* Estilo para las imágenes de las ramas */
.branch article img {
  margin: 10px 0px 20px;
  border-radius: 20%;
}

/* Estilo para el subtítulo de los artículos de las ramas */
.branch article h3 {
  position: relative;
  width: 100%;
  right: 10px;
  padding: 10px 10px;
  font-size: 140%;
  color: white;
  background-image: linear-gradient(#DBCD30, #8f8303);
  border-radius: 10%;
  box-shadow: -1px 3px 9px #282c38;
}

/* Estilo para los flecos de los ribetes de los artículos de las ramas */
.branch article h3::before,
.branch article h3::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  top: 4px;
}

/* Estilo para el fleco izquierdo de los ribetes de los artículos de las ramas */
.branch article h3::before {
  left: -35px;
  border-right-color: #8f8303;
  border-top-color: #8f8303;
  border-bottom-color: #8f8303;
}

/* Estilo para el fleco derecho de los ribetes de los artículos de las ramas */
.branch article h3::after {
  right: -35px;
  border-left-color: #8f8303;
  border-top-color: #8f8303;
  border-bottom-color: #8f8303;
}

/* Estilo para el segundo subtítulo de los artículos de las ramas */
.branch article h4 {
  width: 90%;
  margin: 1em auto;
}

/* Estilo para los párrafos de los artículos de las ramas */
.branch article p {
  display: inline-block;
  max-width: 80%;
  margin: 5px 0px 10px 0px;
  text-align: center;
}

/* Estilo para los mensajes de error enviados desde el servidor */
#server-message {
  color: red;
  text-align: center;
  font-size: 80%;
  margin-top: 5px;
}

/** ESTILOS DEL FOOTER**/
/* Estilo general para la zona footer */
footer {
  display: grid;
  grid-template-columns: 33% 33% 15% 19%;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 2em 2em 0.2em 2em;
  line-height: 30px;
  color: white;
  background-color: black;
}

/* Estilo para el enlaces del footer */
.footer-links {
  grid-column: 1 / -1;
  text-align: left;
  margin-bottom: 20px;
  font-size: 120%;
}

/* Estilo para los títulos de los enlaces del footer */
.footer-links h2 {
  margin-bottom: 1em;
}

/* Estilo para las listas del footer */
.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Estilo para cada elemento de las listas del footer */
.footer-links li {
  margin: 0;
  line-height: 1;
  padding: 5px 0;
}

/* Estilo para los enlaces del footer */
footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* Estilo para los enlaces del footer al pasar el ratón por encima */
footer a:hover {
  text-decoration: underline;
}

/* Estilo para el copy */
.copy {
  grid-column: 4;
  grid-row: 2;
  margin-right: 30px;
  font-size: 14px;
  color: white;
}

/* Estilo para las redes sociales de la zona footer */
.rrss {
  grid-column: 1 / -1;
  grid-row: 2;
  text-align: center;
}

/* Estilo para las imágenes de las redes sociales de la zona footer */
.rrss img {
  height: 40px;
}

/* Estilo para las imágenes de las redes sociales de la zona footer cuando se pasa el ratón por encima */
.rrss img:hover {
  filter: saturate(300%);
  cursor: pointer;
}

/* Estilo para los contenedores de los botones */
.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  width: 100%
}

/* Estilo para los botones */
button {
  background-color: #DBCD30;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

/* Estilo para los botones cuando el ratón está encima */
button:hover {
  background-color: #8f8303;
  color: white;
}

/* Estilo para los campos pequeños de formulario */
.little-input {
  width: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

/* Estilo para los contenedores de los campos de formulario */
.input-container {
  width: 100%;
  text-align: left;
}

/* Estilo para los apartados del formulario */
fieldset {
  text-align: center
}

/* Estilo para los div dentro de los apartados del formulario */
fieldset div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

/* Estilo para las etiquetas de los div dentro de los apartados del formulario */
fieldset div label {
  width: 100%;
  font-weight: bold;
  text-align: right;
}

/* Estilo para los campos normales de los div dentro de los apartados del formulario */
fieldset div input:not(.little-input) {
  width: 175px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

/* Estilo para los divs de los span dentro de los apartados del formulario */
fieldset div span div {
  display: flex;
  color: red;
  font-size: 12px;
}

/* Estilo para los campos de selección */
select {
  width: 187px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

/* Estilo para las modales */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Estilo para los contenidos de las modales */
.modal-contenido {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 30%;
}

/* Estilo para el botón de las modales */
#cerrarModal {
  display: flex;
  margin-top: 10px;
}

/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS PEQUEÑA DE 768PX**/
@media (max-width: 768px) {

  /* Estilo para la cabecera */
  header {
    grid-template-columns: 15% 65% 20%;
  }

  /* Estilo para los enlaces con imágenes de la cabecera */
  header a img {
    width: auto;
    max-height: 50px;
    padding: 5px;
  }

  /* Estilo para las imágenes de la zona de acceso en la cabecera */
  .access img {
    width: auto;
    max-height: 30px;
  }

  /* Estilo para la zona del navegador */
  .nav-mov {
    width: 100%;
    z-index: 1;
  }

  /* Estilo para los textos de la zona del navegador */
  .nav-text {
    display: none;
  }

  /* Estilo para las listas de la zona del navegador */
  nav ul {
    display: block;
    position: absolute;
    background-color: #5E30DB;
    line-height: 2rem;
  }

  /* Estilo para cada uno de los elementos de la lista de la zona del navegador */
  nav ul li a {
    justify-content: left;
    padding-left: 15px;
    text-decoration: none;
    color: white;
  }

  /* Estilo para los input de la zona del navegador */
  .nav-mov input {
    display: none;
  }

  /* Estilo para las etiquetas de la zona del navegador */
  .nav-mov label {
    display: inline-block;
    padding-left: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: white
  }

  /* Estilo para los elementos de la lista que no están pulsados de la zona del navegador */
  .nav-mov :not(input:checked)~li {
    display: none;
  }

  /* Estilo para los elementos de la lista que están pulsados de la zona del navegador */
  .nav-mov input:checked~li {
    display: block;
  }

  /* Estilo para los elementos de la lista del submenú de la zona del navegador cuando tenga encima el ratón */
  nav ul li:hover ul {
    position: relative;
    display: block;
    background-color: #1d0464;
    line-height: 2rem;
    width: 100%;
  }

  /* Estilo para los inputs de elementos de la lista del submenú de la zona del navegador cuando han sido pulsados */
  .nav-mov input:checked~li ul li {
    display: block;
  }

  /* Estilo para los enlaces de los elementos de la lista del submenú de la zona del navegador */
  nav ul li ul li a {
    padding-left: 2em;
  }

  /* Estilo para los nombres de las etapas educativas */
  .name {
    width: 100%;
    font-size: 120%;
  }

  /* Estilo para el título de los nombres de las etapas educativas */
  .name h1 {
    text-align: center;
  }

  /* Estilo para las secciones principales de los apartados de las ramas */
  .branch {
    display: flex;
    flex-direction: column;
  }

  /* Estilo para los campos de selección */
  select {
    width: 162px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
  }

  /* Estilo para la zona de footer */
  footer {
    margin-top: 0em;
    padding: 1em 2em 0.2em 2em;
    text-align: center;
    line-height: 25px;
    background-color: black;
  }

  /* Estilo para las listras de la zona de footer */
  footer ul {
    text-align: center;
  }

  /* Estilo para el copy */
  .copy {
    grid-column: 1 / 4;
    grid-row: 3;
  }

  /* Estilo para las redes sociales de la zona footer */
  .rrss {
    margin-top: -15px;
  }
}

/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS GRANDE DE 768PX**/
@media (min-width: 769px) {

  /* Estilo para la zona del navegador */
  .nav-mov {
    display: none;
  }

  /* Estilo para el botón de hamburguesa */
  #ham {
    display: none;
  }
}