main{
  min-height: 50vh;
}
.tutor {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  margin: 50px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #8052FF;
  color: white;
}

.tutor h2 {
  margin-top: 0;
}
.tutor hr {
  width: 100%;
}

a, a:visited{
  cursor:pointer;
  text-decoration:none;
  color:white;
}
/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS PEQUEÑA DE 768PX**/
@media (max-width: 768px) {
  
}
/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS GRANDE DE 768PX**/
@media (min-width: 769px) {

}
