.register {
  width: 850px;
  margin: 50px auto auto auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.register h2 {
  margin: 0 auto 25px auto;
}

.register form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.register label {
  font-weight: bold;
  margin-top: 10px;
  width: 25%;
}

.register input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  width: 75%;
}
.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.button-container button {
  width: 100%;
}
.register button {
  background-color: #DBCD30;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.register button:hover {
  background-color: #8f8303;
  color: white;
}

.register p {
  margin-top: 20px;
}
.user-name{
  width: 330px;
}
#user-name{
  width: 200px;
}
.surnames{
  width: 350px;
}
#surnames{
  width: 260px;
}
.age{
  width: 170PX;
}
#age{
  width: 40px;
}
.email{
  width: 370px;
}
#email{
  width: 175px;
}
.email-repeat{
  width: 450px;
}
#email-repeat{
  width: 175px;
}
.password{
  grid-column: span 2;
  width: 100%;
}
#password{
  width: 30%;
}
.password-repeat{
  grid-column: 3 / span 2;
  width: 100%;
}
#password-repeat{
  width: 30%;
}
.tutor{
  grid-column: span 2;
  width: 100%;
}
#tutor{
  width: 30%;
}
.course{
  grid-column: 3 / span 2;
  width: 100%;
}
#course{
  width: 30%;
}
/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS PEQUEÑA DE 768PX**/
@media (max-width: 768px) {
  
}
/** ESTILOS CUANDO LA PÁGINA SE REPRODUCE MÁS GRANDE DE 768PX**/
@media (min-width: 769px) {

}
